[Desktop Entry]
Version=17.12.3
Name=konsole
GenericName=KDE Terminal
Comment=KDE Terminal
Exec=konsole
Icon=${SNAP}/usr/share/icons/hicolor/scalable/apps/mscore.svg
StartupNotify=true
Terminal=false
Type=Application
Categories=Qt;Terminal;
